In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import WebDriverWait
import pandas as pd
import re
from selenium.webdriver.support.ui import Select
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.common.exceptions import TimeoutException

In [2]:
vod_8 = pd.read_csv('G:/.shortcut-targets-by-id/1rhe9D2d6ovEcj35BkmcoVCO7G9VSWHKm/hv_project/5_Data/데이터스쿨3차_2308월/데이터스쿨_3차_VOD_2308.csv', encoding = 'euc-kr', sep='\t')
contents_8 = pd.read_csv('G:/.shortcut-targets-by-id/1rhe9D2d6ovEcj35BkmcoVCO7G9VSWHKm/hv_project/5_Data/데이터스쿨3차_2308월/데이터스쿨_3차_콘텐츠_2308.csv', encoding = 'euc-kr', sep='\t')
vod_9 = pd.read_csv('G:/.shortcut-targets-by-id/1rhe9D2d6ovEcj35BkmcoVCO7G9VSWHKm/hv_project/5_Data/데이터스쿨3차_2309월/데이터스쿨_3차_VOD_2309.csv', encoding = 'euc-kr', sep='\t')
contents_9 = pd.read_csv('G:/.shortcut-targets-by-id/1rhe9D2d6ovEcj35BkmcoVCO7G9VSWHKm/hv_project/5_Data/데이터스쿨3차_2309월/데이터스쿨_3차_콘텐츠_2309.csv', encoding = 'euc-kr', sep='\t')

In [3]:
# 8,9 월 데이터프레임을 수직으로 병합
vod_df = pd.concat([vod_8, vod_9], ignore_index=True)
vod_df.head()

,subsr,asset_nm,ct_cl,genre_of_ct_cl,use_tms,SMRY,ACTR_DISP,disp_rtm,strt_dt
0,65941000,(HD)그것이알고싶다 1361회(23/07/22),TV 시사/교양,기타,4800,살인자의 자백 그리고 아크말의 고백. 방대한 수사기록과 당시 아크말의 진술을 토대로...,김상중,1:20,20230812163507
1,66873000,(HD)그것이알고싶다 1361회(23/07/22),TV 시사/교양,기타,4800,살인자의 자백 그리고 아크말의 고백. 방대한 수사기록과 당시 아크말의 진술을 토대로...,김상중,1:20,20230816205227
2,66873000,(HD)그것이알고싶다 1361회(23/07/22),TV 시사/교양,기타,718,살인자의 자백 그리고 아크말의 고백. 방대한 수사기록과 당시 아크말의 진술을 토대로...,김상중,1:20,20230829194727
3,61689000,(HD)그것이알고싶다 1361회(23/07/22),TV 시사/교양,기타,4800,살인자의 자백 그리고 아크말의 고백. 방대한 수사기록과 당시 아크말의 진술을 토대로...,김상중,1:20,20230813130609
4,61619000,꼬리에꼬리를무는그날이야기 37회(22/07/21),TV 시사/교양,기타,4183,"살인범의 미토콘드리아 - 2006 냉동고 살인사건. 2006년 7월 23일, 서울 ...","장도연,장현성,장성규",1:13,20230804092737

In [4]:
# 8,9 월 데이터프레임을 수직으로 병합
contents_df = pd.concat([contents_8, contents_9], ignore_index=True)
contents_df.head()

,subsr,series_nm,super_asset_nm,ct_cl,genre_of_ct_cl,SMRY,ACTR_DISP,disp_rtm,log_dt
0,65968000,(영어더빙)핑크퐁 동물 동요,핑크퐁 동물 동요 20회,키즈,기타,"겨울잠. 숲, 바다, 극지방 등 세계 여러 곳에 사는 동물 친구들을 만나러 가자! ...",핑크퐁,0:01,20230813071155
1,65968000,(영어더빙)핑크퐁 동물 동요,핑크퐁 동물 동요 20회,키즈,기타,"겨울잠. 숲, 바다, 극지방 등 세계 여러 곳에 사는 동물 친구들을 만나러 가자! ...",핑크퐁,0:01,20230813071215
2,66056000,라바 키즈동요(한국어) Part4,라바 키즈동요(한국어) Part4 17회,키즈,기타,징글벨 크리스마스. 안녕하신가 친구들! 메리 크리스마스~ 징글벨 크리스마스 징글벨 ...,"엘로우,레드",0:02,20230808085440
3,66056000,라바 키즈동요(한국어) Part4,라바 키즈동요(한국어) Part4 17회,키즈,기타,징글벨 크리스마스. 안녕하신가 친구들! 메리 크리스마스~ 징글벨 크리스마스 징글벨 ...,"엘로우,레드",0:02,20230808085432
4,63086000,지니강이 플러스 시즌7.,지니강이 플러스 시즌7. 26회,키즈,기타,로봇 세상에서 킥보드를 타요. 로보카 폴리 브룸스 타운에서 킥보드를 타요~ / 새로...,"헤이지니,럭키강이",0:11,20230827145542

In [5]:
import pandas as pd

# 'asset_nm' 열만 추출하여 새로운 데이터프레임 생성
vod_asset_df = vod_df[['asset_nm']].copy()

# 'super_asset_nm' 열만 추출하여 새로운 데이터프레임 생성 및 괄호 및 괄호 안 문자열 제거
contents_asset_df = contents_df[['super_asset_nm']].copy()
contents_asset_df['super_asset_nm'] = contents_asset_df['super_asset_nm'].str.replace(r'\([^)]*\)', '').str.strip()

# 'super_asset_nm' 컬럼을 'asset_nm'으로 변경
contents_asset_df.rename(columns={'super_asset_nm': 'asset_nm'}, inplace=True)

# vod_asset_df와 contents_asset_df 데이터프레임 수직으로 병합
total_df = pd.concat([vod_asset_df, contents_asset_df], ignore_index=True)

print(len(total_df))

40721

C:\Users\hanji\AppData\Local\Temp\ipykernel_21268\2698555097.py:8: FutureWarning: The default value of regex will change from True to False in a future version.
  contents_asset_df['super_asset_nm'] = contents_asset_df['super_asset_nm'].str.replace(r'\([^)]*\)', '').str.strip()

In [6]:
total_df.head()

                      asset_nm
0  (HD)그것이알고싶다 1361회(23/07/22)
1  (HD)그것이알고싶다 1361회(23/07/22)
2  (HD)그것이알고싶다 1361회(23/07/22)
3  (HD)그것이알고싶다 1361회(23/07/22)
4  꼬리에꼬리를무는그날이야기 37회(22/07/21)

In [7]:
total_df['asset_nm'] = total_df['asset_nm'].astype(str)

# 정규 표현식을 사용하여 괄호와 괄호 안에 있는 문자열을 지우는 함수
def remove_brackets(text):
    return re.sub(r'\([^)]*\)', '', text)

# apply 함수를 사용하여 데이터프레임의 asset_nm 컬럼에 함수를 적용합니다.
total_df['asset_nm'] = total_df['asset_nm'].apply(remove_brackets)

#회차 정보 제거
for idx, row in total_df.iterrows():
    title = row['asset_nm']
    processed_title = re.sub(r'\s[0-9]+회', '', title)  # 정규 표현식을 사용하여 '숫자회' 부분을 공백으로 대체합니다.
    total_df.at[idx, 'asset_nm'] = processed_title  # 수정된 드라마 제목을 데이터프레임에 다시 할당합니다.

# 중복된 항목 제거
total_df = total_df.drop_duplicates()

    
# 수정된 데이터프레임 확인
total_df.head()

         asset_nm
0         그것이알고싶다
4   꼬리에꼬리를무는그날이야기
9            인간극장
11  오은영 리포트 결혼 지옥
13          실화탐사대

In [16]:
def crawl(df):
    # webdriver를 시작합니다.
    driver = webdriver.Chrome()  # 또는 원하는 다른 브라우저를 선택할 수 있습니다.

    url = "https://www.themoviedb.org/"

    # 각 데이터를 저장할 빈 리스트 생성
    nm_lst = []
    img_lst = []
    missing_lst = []

    # 데이터프레임의 asset_nm 컬럼에서 영화 제목을 가져와 크롤링을 수행합니다.
    length = len(df)

    for index, row in df.iterrows():
        driver.implicitly_wait(3)
        driver.get(url)
        search_input = driver.find_element(By.XPATH, '/html/body/div[1]/main/section[1]/div/div/div/div[2]/form/label/input')
        search_input.send_keys(row['asset_nm'])
        search_input.send_keys(Keys.RETURN)

        try:
            search_button = WebDriverWait(driver, 3).until(EC.visibility_of_element_located((By.XPATH, '//*[contains(@id, "card_tv_")]/div/div[2]/div[1]/div/div/a/h2')))
            search_button.click()
        except TimeoutException:
            try:
                search_button = WebDriverWait(driver, 3).until(EC.visibility_of_element_located((By.XPATH, '//*[contains(@id, "card_movie_")]/div/div[2]/div[1]/div/div/a/h2')))
                search_button.click()
            except TimeoutException:
                print(f"요소가 시간 내에 로드되지 않았습니다: {row['asset_nm']}")
                missing_lst.append(row['asset_nm'])
                continue

        # 이름 nm
        try:
            nm = driver.find_element(By.XPATH, '//*[@id="original_header"]/div[2]/section/div[1]/h2/a').text
        except NoSuchElementException:
            nm = 'none'
            
        #이미지 img
        try:
            img = driver.find_element(By.XPATH, '//*[@id="original_header"]/div[1]/div/div[1]/img').get_attribute('src')
        except NoSuchElementException:
            img = 'none'


        # 각 리스트에 저장
        nm_lst.append(nm)
        img_lst.append(img)

    # pandas DataFrame을 직접 만들어 리스트를 컬럼에 할당합니다.
    crawl_df = pd.DataFrame({
        'name': nm_lst,
        'image': img_lst
    })
    # missing_lst 리스트를 DataFrame으로 변환
    missing_df = pd.DataFrame({'missing_column_name': missing_lst})

    #  ★★★개인 노트북에서 하실 때 파일 path 꼭 변경 해 주셔야 합니다★★★
    crawl_df.to_csv(r'C:\Users\hanji\크롤링결과\crawl_df.csv', index=False, encoding='cp949', errors='replace')
    missing_df.to_csv(r'C:\Users\hanji\크롤링결과\missing_df.csv', index=False, encoding='cp949', errors='replace')
    return crawl_df

요소가 시간 내에 로드되지 않았습니다: 그것이알고싶다

                  name                                              image
0    꼬리에 꼬리를 무는 그날 이야기  https://www.themoviedb.org/t/p/w300_and_h450_b...
1  인간극장 - 5부작 : 백발의 연인  https://www.themoviedb.org/t/p/w300_and_h450_b...
2       오은영 리포트 - 결혼지옥  https://www.themoviedb.org/t/p/w300_and_h450_b...
3                실화탐사대  https://www.themoviedb.org/t/p/w300_and_h450_b...